# Python
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info
.pytest_cache/

# Virtual environments
.venv

# Lokale Konfiguration / Secrets
llm-ip.txt
datasources.json
.env
local.db

# Lokale Daten
data/
index/
dwds/
rechtschreibrat/
setup/

# Claude
CLAUDE.md
.claude/

.python-version

start.txt