# Python
__pycache__/
*.py[cod]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Lokale Konfiguration / Secrets
llm-ip.txt
datasources.json

# Lokale Daten
data/
index/
dwds/
rechtschreibrat/

# Claude
CLAUDE.md
.claude/

.python-version

start.txt